# Public hostname or IP address of the NSE2 host running the WireGuard server.
# The client uses this to establish the tunnel. `host.docker.internal` resolves
# to localhost of the host, so this should be used when running client and
# server on the same machine.
# Used by the server when generating the client's config file.
SERVER_URL=host.docker.internal

# Host port exposed for WireGuard traffic.
# Used both in the server's compose.yml and by the server when generating the
# client's config file
SERVER_PORT=51820

# WireGuard tunnel address of the single external peer/application.
APPLICATION_IP=10.192.122.2
